[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"bs4" = "*"
selenium = "*"
pandas = "*"
lxml = "*"
pandas-datareader = "*"
matplotlib = "*"
"html5lib" = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
